<html>
  

<center><div style=" width:25%">
  
<h2>Please fill out the information below</h2>
<br>
<%= form_for @assignment do |f| %>

    <%= f.label "Assignment Title" %> <br>
    <%= f.text_field :title, class: "form-control" %> <br>
    <br>
    <%= f.label "Problem" %> <br>
    <%= f.text_area :problem, class: "form-control" %> <br>
    <br>
    <%= f.label "Due Date" %> <br>
    <%= f.date_field :due_date, class: "form-control" %> <br>
    <br>
    <%= f.submit class: "btn btn-default" %>

<% end %>
</div></center>