<h1>Assignments#new</h1>

<%= form_for @assignment do |f| %>

    <%= f.label :title %> <br>
    <%= f.text_field :title %> <br>
    <br>
    <%= f.label :problem %> <br>
    <%= f.text_area :problem %> <br>
    <br>
    <%= f.label :due_date %> <br>
    <%= f.text_field :due_date %> <br>
    <br>
    <%= f.label :possible_grade %> <br>
    <%= f.text_field :possible_grade %> <br>
    <br>
    <%= f.submit  %>

<% end %>
