<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <%= stylesheet_link_tag "grader_dashboard", media: 'all'%>
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  
                  <%= link_to "Back to Dashboard", grader_dashboard_path, class: "nav-link active" %>
                   <span class="sr-only">(current)
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Assignments</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <% @assignments.each do |assignment| %>
              <li class="nav-item">
                <a class="nav-link" href="#">
                 
                  <%= link_to assignment.title, assignments_count_path(:id => assignment.id), class: "nav-link active" %>
                </a>
              </li>
                <% end %>
             
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2"> Student: <%= @users.first_name + " " + @users.last_name%> </h1>
          </div>
          
            <center><h2 class="h2">Grade:  
            <% if $tassignment == "1" && @users.a1grade.to_i >= 0 %>
            <%= @users.a1grade %>
            <% if @users.a1ot == "1" %>
            <%= "- Late" %>
            <% end %>
            <% elsif $tassignment == "2" && @users.a2grade.to_i >= 0 %>
            <%= @users.a2grade %>
            <% if @users.a2ot == "1" %>
            <%= "- Late" %>
            <% end %>
            <% elsif $tassignment == "3" && @users.a3grade.to_i >= 0 %>
            <%= @users.a3grade %>
            <% if @users.a3ot == "1" %>
            <%= "- Late" %>
            <% end %>
            <% elsif $tassignment == "4" && @users.a4grade.to_i >= 0 %>
            <%= @users.a4grade %>
            <% if @users.a4ot == "1" %>
            <%= "- Late" %>
            <% end %>
            <% elsif $tassignment == "5" && @users.a5grade.to_i >= 0 %>
            <%= @users.a5grade %>
            <% if @users.a5ot == "1" %>
            <%= "- Late" %>
            <% end %>
            <% else %>
            <%= "No Student Submission" %>
            
            <% end %>
            
            </h2></center>
            
            <center> <p> <%= link_to "edit" , edit_page_path(@users) %></p></center>
            
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <div class="jumbotron" style="width:48%">
                    <center><h3 class="h2">Student's Solution</h3></center>
                    <hr class="my-4">
                    <h6>Basis:</h6>
                    <h3> <% if $tassignment == "1" %>
            <%= @users.a1basis %>
            <% elsif $tassignment == "2" %>
            <%= @users.a2basis %>
            <% elsif $tassignment == "3" %>
            <%= @users.a3basis %>
            <% elsif $tassignment == "4" %>
            <%= @users.a4basis %>
            <% elsif $tassignment == "5" %>
            <%= @users.a5basis %>
            <% end %>
            <br>
            <br>
            <br>
            
            
            <h6>Induction Hypothesis:</h6>
            <h3> <% if $tassignment == "1" %>
            <%= @users.a1induction %>
            <% elsif $tassignment == "2" %>
            <%= @users.a2induction %>
            <% elsif $tassignment == "3" %>
            <%= @users.a3induction %>
            <% elsif $tassignment == "4" %>
            <%= @users.a4induction %>
            <% elsif $tassignment == "5" %>
            <%= @users.a5duction %>
            
            
            
            <% end %></h3>
            
            <br>
            <br>
            <br> 
            
            <h6>Proof:</h6>
            <h3> <% if $tassignment == "1" %>
            <%= @users.a1proof %>
            <% elsif $tassignment == "2" %>
            <%= @users.a2proof %>
            <% elsif $tassignment == "3" %>
            <%= @users.a3proof %>
            <% elsif $tassignment == "4" %>
            <%= @users.a4proof %>
            <% elsif $tassignment == "5" %>
            <%= @users.a5proof %>
            
             
            
            
            <% end %></h3>
            
                    
                    
                </div>
                
                <div class="jumbotron" style="width:48%">
                     <center><h3 class="h2">Solution</h3></center>
                    
                    <hr class="my-4">
                     <h6>Basis:</h6>
                  <h5> <% if $tassignment == "1" %>
            <%= Assignment.find("1").basis %>
            <% elsif $tassignment == "2" %>
            <%= Assignment.find("2").basis %>
            <% elsif $tassignment == "3" %>
            <%= Assignment.find("3").basis %>
            <% elsif $tassignment == "4" %>
            <%= Assignment.find("4").basis %>
            <% elsif $tassignment == "5" %>
            <%= Assignment.find("5").basis %>
            <%end%></h5>
                 
                 
                  <h6>Inudction Hypothesis:</h6>
                  <h5> <% if $tassignment == "1" %>
            <%= Assignment.find("1").induction %>
            <% elsif $tassignment == "2" %>
            <%= Assignment.find("2").induction %>
            <% elsif $tassignment == "3" %>
            <%= Assignment.find("3").inductions %>
            <% elsif $tassignment == "4" %>
            <%= Assignment.find("4").induction %>
            <% elsif $tassignment == "5" %>
            <%= Assignment.find("5").induction %>
            <%end%></h5>
                 
                 
                 
                 
                    <h6>Proof:</h6>
                   <h5> <% if $tassignment == "1" %>
            <%= Assignment.find("1").solution %>
            <% elsif $tassignment == "2" %>
            <%= Assignment.find("2").solution %>
            <% elsif $tassignment == "3" %>
            <%= Assignment.find("3").solution %>
            <% elsif $tassignment == "4" %>
            <%= Assignment.find("4").solution %>
            <% elsif $tassignment == "5" %>
            <%= Assignment.find("5").solution %>
            
            
            <% end %></h5>
                   
                </div>
            </div>
          

         
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

   
   
  </body>
</html>