<!DOCTYPE html>
<html>
<head>
  <title>AutoGraderInduction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "grader_dashboard", media: 'all'%>
    
    
    <% if not current_page?(controller: 'pages', action: 'index') %>
      <%= render 'layouts/navbar' %>
    <% end %>
        
        
    <%= render 'layouts/messages'%>
    <%= yield %>
  
  </body>
</html>
